:root{
    --hauteur_bandeau: 40px;
    --hauteur_header: 17vh
}

*{
    margin:0;
    padding: 0;
}
body{
    background-color: #f1f1f1;
}
/* Haut de page */
#top-bandeau{
    background-color:#081337;
    height: var(--hauteur_bandeau);
    
}
#logo{
    font-family: 'Patrick Hand', cursive;
    line-height: var(--hauteur_bandeau);
    vertical-align: middle;
    color:white;
    margin-left:20%
}
#header{
    height: var(--hauteur_header);
    width: 100%;
    background-image: url('../img/background.jpg');
}
#header h1{
    font-family: 'Patrick Hand', cursive;
    color:white;
    line-height: var(--hauteur_header);
    vertical-align: middle;
    text-align: center;
<<<<<<< HEAD
}
#section1_formulaire-adoption{
    
}
=======
    text-shadow: 1px 1px 2px black;
}

/* Formulaire */
.formulaire{

    line-height: 30px;
    text-align: left;
    background-color: white;
    padding:2%;
    border-radius: 5px;
}
.formulaire input,select{
    width: 100%;
    height: 25px;
}
.formulaire textarea{
    width: 100%;
    height: 100px;
    resize:none;
}
.bouton{
    background-color: #74b566;
    color:white;
    border:0px;
    border-radius:5px;
    height: 25px;
}
/* Section1 */
.container-1{
    width: 840px;
    margin: auto;
    padding: 2%;
    line-height: 40px;
}
.container-1 form{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin-right: 20px;
}
.container-1 img{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
.container-1 h2{
    font-size:18px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}
#colonne1{
    max-width: 24%;
}
#colonne1 h2{
    margin-bottom: -20px;
}
.container-2{
    width: 840px;
    margin: auto;
    padding: 1%;
}
.container-2 p{
    display: inline-block;
    width: 80%;
}
.container-2 img{
    width: 15%;
}
#nos-chats{
    background-color: #cccccc;
    padding: 2%;
}
/* Test Responsive
@media all and (min-width: 891px){
    body{
        background:green
    }
}
@media screen and (max-width: 890px) { 
    body{
background-color: red;
    }
  } 
  /*
>>>>>>> 1ddfc7ee3c05bd371daf3f5f9d21684f8f39149c
