*{
    padding: 0;
    margin: 0;
}
#topTitle{
    background-color: blue;
    padding-left: 20%;
}

#background{
    height: 240px;
    background-image: url(img/background.jpg);
    background-repeat: repeat;
    
    font-size: 30px;
    color: white;
    text-shadow: black 2px 3px;
    line-height: 240px;
    text-align: center;
}

.center{
    margin: 30px auto;
    width: 50%;

}
.form_container{
display: inline-block;
width: 24%;
}
.pict_container{
display: inline-block;
width: 75%;
}
.container{
    background-color: grey;
    padding-bottom: 1px;
}
#paragraph{
    display: inline-block;
    width: 80%;
    text-align: start;
}
#teteChat{
    display: inline-block;
    width: 10%;

}
#teteChat img{
    height: 100px;
}
footer{
    text-align: right;
    background-color: blue;
}