.block{
    border: 1px solid black;
    background-color: grey;
    margin: 2px;
    height: 100px;
}

#center{
    margin: 0 auto;
    width: 50%;

}

#form{
    display: inline-block;
    width: 30%;

}
#image{
    display: inline-block;
    width: 55%;
}

.text{
    border: 1px solid black;
    background-color: grey;
    margin: 2px;
    height: 40px;

}