/* reset.css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*mon code */
.page-header {
    background: left/contain url(./img/background.jpg);
    display: flex;
    height: 300px;
    min-width: 300px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}
.page-header > h1 {
    display: inline-block;
    font-size: 30px;
    margin: 50%;
}

.logo{
    background-color: black; 
    color: white; 
    margin-left: 10%;
    font-size: 30px;
}

.chatAdopt {
  display: block;
  background-color: #d9d9d9;
  
}
.chatText{
    margin-left: 25%;
}

p{
    text-align: justify;
    vertical-align: middle;

}

.teteChat {
    float: right;
    margin-left: 5px;
    

}

.teteChat > img{
    height: 150px;
    background-color: black;
    vertical-align: middle;
    position: relative;
    margin-top: -60px;
}
