* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f1f1f1;
}

header {
    background-color: #061339;
    color: white;
    padding: 12px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

#banner {
    background-image: url("./img/background.jpg");
    height: 180px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 3px black;
    line-height: 180px;
}

#section1 {
    display: inline-block;
    margin: 10px;
    width: 100%;
}

#formulaire h3 {
    color: #061339;
    margin-bottom: 20px;
}

form * {
    width: 100%;
    margin: 5px 0 5px 0;
}

label { font-weight: bold;}

input#envoyer {
    background-color: #5cb85c;
    color: white;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4cae4c;
}

img {
    max-width: 100%;
}

#section2 {
    display: inline-block;
    background-color: #DDD;
    width: 100%;
}

#section2 h2 {
    color: #061339;
    margin-bottom: 20px;
}

#texte {
    width: 80%;
    float: left;
}

#tete-chat {
    width: 20%;
    float: right;
    background-color: #7A86A2;
}

footer {
    background-color: #061339;
    color: #FFF;
    text-align: right;
    padding: 10px;
}

@media (min-width: 768px) {
    #formulaire {
        width: 25%;
        float: left;
    }
    #image {
        width: 75%;
        float: right;
        padding-left: 20px;
    }
}
